.banner img {
  width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: fill;
  max-height: 300px;
  -webkit-transition: 0.8s ease-in-out left;
  -moz-transition: 0.8s ease-in-out left;
  -o-transition: 0.8s ease-in-out left;
  transition: 0.8s ease-in-out left;
}

.card-padding {
  padding-bottom: 15px;
  padding-top: 15px;
}

.event-overview {
  background-color:white;
  display: inline-block;
  border: 1px solid #D3D3D3;
  height: 66%;
  width: 100%;

}

.card{
    text-align: center;
}

.calendar {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top:15px;

}

.calendar:after {
  content: "";
  display:block;
}

.calendar.calendar-rtl {
  direction: rtl;
}
.calendar.calendar-rtl table tr td span {
  float: right;
}

.calendar table {
  margin: auto;
  background-color: white;
}

.calendar table td,
.calendar table th {
  text-align: center;
  width: 20px;
  height: 20px;
  border: none;
  padding: 4px 5px;
  font-size:12px;
}

/* Header */
.calendar .calendar-header
{
  width:100%;
  margin-bottom:20px;
}

.calendar .calendar-header table
{
  width:100%;
}

.calendar .calendar-header table th
{
  font-size:22px;
  padding:5px 10px;
}

.calendar .calendar-header table th:hover {
  background: #eeeeee;
  cursor: pointer;
}

.calendar .calendar-header table th.disabled,
.calendar .calendar-header table th.disabled:hover {
  background: none;
  cursor: default;
  color:white;
}

.calendar .calendar-header table th.prev,
.calendar .calendar-header table th.next
{
  width:20px;
}

.calendar .year-title {
  font-weight:bold;
  text-align:center;
  height:20px;
  width:auto;
}

.calendar .year-neighbor
{
  color:#aaaaaa;
}

.calendar .year-neighbor2
{
  color:#dddddd;
}

/* Months */
.calendar .months-container {
  width:100%;
  display:none;
  padding-left: 120px;
}

.calendar .month-container {
  text-align:center;
  height:250px;
  padding-right:10px;
}

.calendar table.month th.month-title
{
  font-size:16px;
  padding-bottom: 5px;
}

.calendar table.month th.day-header
{
  font-size:14px;
}


.calendar table.month tr td,
.calendar table.month tr th
{
  padding:0;
}

.calendar table.month tr td.hidden,
.calendar table.month tr th.hidden
{
  display:none;
}

.calendar table.month td.week-number {
  cursor: default;
  font-weight:bold;
  border-right:1px solid #eee;
  padding:5px;
}

.calendar .round-left {
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}

.calendar .round-right {
  webkit-border-radius: 0 8px 8px 0 ;
  -moz-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
}

.calendar table.month tr td .day-content {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 6px;
}

.table-striped .calendar table.month tr td,
.table-striped .calendar table.month tr th {
  background-color: transparent;
}

.calendar table.month td.day .day-content:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.calendar table.month tr td.old,
.calendar table.month tr td.new,
.calendar table.month tr td.old:hover,
.calendar table.month tr td.new:hover {
  background: none;
  cursor: default;
}
.calendar table.month tr td.disabled,
.calendar table.month tr td.disabled:hover {
  color: #dddddd;
}

.calendar table.month td.day.disabled .day-content:hover {
  background: none;
  cursor: default;
}

.calendar table.month tr td.range .day-content {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.calendar table.month tr td.range.range-start .day-content  {
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.calendar table.month tr td.range.range-end .day-content  {
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}

.calendar-context-menu,
.calendar-context-menu  .submenu {
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  position:absolute;
  display:none;
}

.calendar-context-menu .item {
  padding:5px 10px;
  cursor:pointer;
  display:table;
  width:100%;
}

.calendar-context-menu .item:hover {
  background:#eee;
}

.calendar-context-menu .item .content {
  display:table-cell;
}

.calendar-context-menu .item span {
  display:table-cell;
  padding-left:10px;
  text-align:right;
}

.calendar-context-menu .item span:last-child {
  display:none;
}

.calendar-context-menu  .submenu {
  left: 100%;
  margin-top: -6px;
}

.calendar-context-menu  .item:hover > .submenu {
  display:block;
}
html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.hover-student:hover{
  background-color: #0C2340;
  color: white;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 80px;
}

.form-border{
  border: 1px solid rgb(221, 221, 221);
}
